body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaecec;
}
ul {
  font-weight: bold;
}

a {
  color: #b82327;
}
a:visited {
  color: #b82327;
}
a:hover {
  color: #5e5e5e;
}

h1{
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #b82327;
}
#img1{
    width: 1264px;
    
}
#img2 {
    width: 450px;
    
}
p{
    color: #5e5e5e;
}
#parrafo2 {
padding: 10px 20px 10px 500px;
}

th, td {
  padding: 15px;
  color: #5e5e5e;
  border-bottom: 1px solid #ddd;
}

#t01 th {
  background-color: #b82327 ;
  color: white;
}
.t03{
  font-weight: normal;
}
.pad{
  padding: 15px 15px 15px 0px;
}
.btn {
  background-color:  #b82327;
  color: white;
  border: none;
  margin-bottom: 15px;
  
}
#btnnav{
  background-color:#5e5e5e;
}
.icon {
  width: 30px;
  height: 30px;
}
#imgContacto {
  width: 520px;

}