body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaecec;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  float: right;
  font-weight: bold;
}
li {
  display: inline;
  padding: 25px 20px 20px 20px;
  align-items: center;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #b82327;
}
a:visited {
  color: #b82327;
}
a:hover {
  color: #5e5e5e;
}
#nav {
  background-color: #ffffff;
}
#logo {
  width: 50px;
  height: 50px;
  display: inline-flex;
  padding: 10px 10px 0px 10px;
}
#footer{
    background-color: #ffffff;
}
.footer{
    float: center;
}
.principal {
  text-align: center;
  padding: 0px 20px 0px 20px;
}
h1{
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #b82327;
}
#img1{
    width: 1264px;
    
}
#img2 {
    width: 450px;
    align-content: flex-start;
    float: left;
}
p{
    color: #5e5e5e;
    text-align: left;

}
#parrafo1{
padding: 0px 50px 0px 500px;
margin-top: 60px;
}
#parrafo2 {
padding: 10px 20px 10px 500px;
}
.tabla{
  text-align: center;
}
th, td {
  padding: 15px;
  color: #5e5e5e;
  border-bottom: 1px solid #ddd;
}
table {
  border-spacing: 5px;
  margin-left: 150px;
}
#t01 th {
  background-color: #b82327 ;
  color: white;
}

.contacto{
 padding: 50px 50px 50px 100px;
 width: 710px;
margin-left: 400px;
}
.form-group{
  padding: 10px;
}
.contactanos{
  margin: 0;
  text-align: left;
  padding-bottom: 10px;
}
input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  background-color:  #b82327;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  float: right;
  margin-right: 147px;
}
button:hover {
  background-color: #5e5e5e;;
}
small{
  font-style: italic;
}